@import '../../../utils/styles/mixins.module.scss';

.container {
  @include flex-all-center;
  position: relative;
  // background-color: cornflowerblue; // FIXME: Remove after phase 0
}

.board {
  @include flex-all-center;
  min-height: 300px;
  width: 450px;
  border-radius: 7px;
  background-color: var(--gray-1);
}
