@import '../../../utils/styles/mixins.module.scss';

.container {
  @include flex-all-center;
  position: relative;
  height: 25vh;
  min-height: 50px;
  min-height: 200px;
}

.quickBtns {
  @include flex-all-center;
}

.btnContainer {
  @include flex-all-center;
  flex-direction: column;
}

.btnHint {
  @include flex-all-center;
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}
