.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  width: 25px;
  height: 25px;
  user-select: none;
  font-size: 14px;
}

.plus {
  margin: 0 1rem;
}
