* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 62.5%; // 1rem = 10px
}

body {
  margin: 0;
  font-family: 'Roboto', system-ui;
}

.app {
  overflow: auto;
}
