.container {
  position: absolute;
  top: calc(100% + 10px);
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  width: 155px;
  height: 256px;
  border-radius: 7px;
  background-color: #ebecf0;
  box-shadow: 1px 1px 2px 0 rgba($color: #000000, $alpha: 0.25);

  &::before {
    position: absolute;
    top: -32px;
    display: block;
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #ebecf0 transparent;
    content: '';
  }
}

.buttons {
  margin-top: auto;
}
