.scroll_paper {
  position: relative;
  top: 20%;
  align-items: flex-start;
}

.dialog_title {
  h2 {
    font-size: 24px;
    text-align: center;
  }
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.option {
  margin-bottom: 10px;

  .label {
    margin-bottom: 5px;
  }

  input[type='text'] {
    height: 25px;
    width: 100%;
  }
}

.buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .save {
    background-color: white;
    cursor: pointer;
  }

  .cancel {
    background-color: gainsboro;
    cursor: pointer;
  }

  .delete {
    background-color: #c4c4c4;
    cursor: pointer;
  }
}
