.scroll_paper {
  position: relative;
  top: 20%;
  align-items: flex-start;
}

.dialog_title {
  padding: 8px 16px 0;
  margin-bottom: -8px;
}

.icon_button {
  float: right;
}

.paper {
  width: 330px;
}

.dialog_content_root {
  padding: 0 24px;
}

.input_label {
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  font-size: 14px;
}

.text_field {
  margin-bottom: 25px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.picker_container {
  position: relative;
  margin-bottom: 30px;
}

.picker_block_outer {
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  background-color: '#fff';
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.picker_block_inner {
  width: 36px;
  height: 14px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
